<div class="container">
    {{#each products}}
    <section>
        <h3>{{this.title}}</h3>
            <div>
                <p>{{this.price}}</p>
            </div>
    </section>
    {{/each}}
</div>