<h2>Formulario de Registro</h2>
<form action="/api/users" method="post" >

    <label for="name">Nombre : </label>
    <input type="text" id="name" required/>

    <label for="email">Email : </label>
    <input id="email" type="text" required/>

    <label for="password">Contraseña : </label>
    <input id="password" type="password" required/>

    <button id="formRegister" type="submit" >Enviar !</button>

    <section id="message"></section>
</form>
