<h2>Formulario de Registro</h2>
<form action="/api/sessions/register" method="post" >

    <label for="_name">Nombre : </label>
    <input type="text" name="firstName" id="_name" required/>

    <label for="_l_name">Apellido : </label>
    <input type="text" name="lastName" id="_l_name" required/>

    <label for="_email">Email : </label>
    <input id="_email" name="email" type="text" required/>

    <label for="_pass">Contraseña : </label>
    <input id="_pass" name="password" type="password" required/>

    <button id="formRegister" type="submit" >Enviar !</button>
</form>
